<div class="hero">
    <br /><br /><br /><br /><br /><br /><br />
    <div class="frosty col-10 offset-1 text-center">
        <h1>You're a hacker, Harry</h1>
        <br />
        <h2>Learn Coding from the Pros</h2>
        <br />
        <%= link_to 'Learn More', "#", class: 'btn btn-success' %>
    </div>
</div>